<div class="row">
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>Stay tuned for future updates…</p>
  </aside>
  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>
        Manveer is a people’s person and has been quite supportive to all his
        fellow mates. After, his completion of grade 10 studies, he got
        admission in BBSBAFPA (Baba Banda Singh Bahadar Armed Force Academy) for
        2 years.For higher education he moved to Canada. Currently he is
        pursuing his interest in Computer science and analysis, while completing
        his studies, he has a passion for sports as well. He has achieved a
        green belt in judo and has participated in various science Olympiads. He
        has represented his school in many cultural (bhangra) competitions. He
        has always been curious about attending science workshops one of his
        favorites was related to “Energy Efficiency and Conservation”. He has
        performed in MUN(Modern United Nations) debate competitions that saves
        funds for cancer patients and orphans. Overall, his personality has
        always been curious to learn about different aspects.
      </p>
    </article>
  </section>
</div>
